.general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;

    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        margin: 5px;
        padding: 5px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
    }

    h1 {
        font-size: 50px;
        color: #fbde44ff;
        text-shadow: 10px 10px 30px #f65058ff;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
    }

    h2 {
        font-size: 20px;
        color: #fbde44ff;
        text-shadow: 10px 10px 30px #f65058ff;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
    }

    span {
        color: #fbde44ff;
        padding: 5px;
        margin: 5px;
    }

    .each-item {
        color: #f65058ff;
        padding: 5px;
        margin: 5px;
    }

    button {
        background-image: linear-gradient(to right, #f65058ff 0%, #28334aff 51%, #fbde44ff 100%);
    }
    button {
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        transition: 0.8s;
        background-size: 200% auto;
        box-shadow: 0 0 10px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        display: block;
        color: #fbde44ff;
    }
    button:hover {
        background-position: right center; /* change the direction of the change here*/
        color: #f65058ff;
        text-decoration: none;
        cursor: grab;
    }

    a {
        text-decoration: none;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 10px;
        box-shadow: 0 0 30px #fbde44ff;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
        width: 50%;
        height: 400px;
  
    }
    .each-list {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    input {
        box-shadow: 0 0 30px #f65058ff;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: #e6fdb0;
        text-align: center;

    }

    textarea {
        resize: none;
        box-shadow: 0 0 30px #f65058ff;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: #e6fdb0;
        text-align: center;

    }

}
